/* my style sheet */
:root {
    --app-bkg-color-1: #BFDDE8;
    --app-bkg-color-2: #AABBE6;
    --app-color-primary: #082676;
    --app-color-white: #FFFFFF;

    --border-radius: 10px;

    --font-size-lg: 24px;
    --font-size-md: 18px;
    --font-size-sm: 14px;

    --font-size-input: 38px;
    --font-line-height: 50px;

    --font-weight-reg: 400;
    --font-weight-med: 500;
    --font-weight-bld: 600;
    --font-weight-blk: 700;

    --box-shadow: inset 0px -2px 3px 2px rgba(0,0,0,.35);
}

/* loading google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

button {
    padding: 0;
    border: none;
    background: none;
}

.app-body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-med);
    line-height: var(--font-line-height);
    margin: 0;
    background-image: linear-gradient(to bottom right, var(--app-bkg-color-1), var(--app-bkg-color-2));
}

.app-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-branding {
    flex: 1 0 30%;
}
    .app-branding__logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.app-controllers {
    flex: 1 0 70%;
}
    .app-controllers__restart-btn {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 8px;
    }

    .app-controllers__timestamp {
        position: absolute;
        top: 20px;
        right: 20px;
        line-height: 1rem;
    }

    .app-controllers__views {
        height: 100%;
    }

    .app-controllers__loading {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

.timestamp {
    font-size: 1em;
}

.view {
    height: 100%;
}

    .view__content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .view__list {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .view__top {
        flex: 1 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .view__bottom {
        flex: 1 0 50%;
    }

.module {
    text-align: center;
}
    
    .module__title {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bld);
    }

    .module__text-input {
        border: solid 4px var(--app-color-primary);
        background: var(--app-color-white);
        border-radius: var(--border-radius);
        position: relative;
    }

    .module__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }

        .module__list--confirm {
            justify-content: center;
        }

        .module__list--confirm .module {
            padding: 12px;
            height: 60px;
            margin: 18px;
        }

    .module__left,
    .module__right {
        width: 150px;
        margin: 0!important;
    }

    .module--card {
        border: solid 2px var(--app-color-primary);
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: var(--box-shadow);
        background: var(--app-color-white);
    }

    .class,
    .module--img {
        width: 150px;
        min-height: 150px;
    }

    .module--split {
        display: flex;
        flex-direction: row;
        box-shadow: none!important;
        border: none;
        background: rgba(255,255,255,.3);
    }

.user-search {
    font-size: var(--font-size-input);
    font-weight: var(--font-weight-blk);
    width: 75vw;
    text-align: center;
    line-height: 92px;
    height: 92px;
    border: none;
    background: none;
    outline: none;
    text-transform: uppercase;
}

.clear-input {
    position: absolute;
    top: 20px;
    right: 10px;
}

.user-image {
    display: block;
}

.class {
    line-height: 34px;
    padding: 14px;
    margin-bottom: 18px;
}

    .class__title {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bld);
        line-height: inherit;
    }

    .class__time {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-med);
        margin-bottom: 18px;
        line-height: inherit;
    }

    .class__instructor {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bld);
        line-height: 18px;
    }

    .class__details {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-reg);
        line-height: 18px;
    }

.slide-enter {
    transform: translateY(100%);
}
      
.slide-enter.slide-enter-active {
    transform: translateY(0%);
    transition: transform 500ms ease-in;
}
      
.slide-leave {
    transform: translateY(0%);
}
      
.slide-leave.slide-leave-active {
    transform: translateY(100%);
    transition: transform 300ms ease-in;
}

.show-enter {
    opacity: .01;
}
      
.show-enter.show-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
      
.show-leave {
    opacity: 1;
}
      
.show-leave.show-leave-active {
    opacity: .01;
    transition: opacity 300ms ease-in;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .img img {
        display: block;
    }

.loader-bar {
    width: 100%;
    height: 20px;
    border: 1px solid var(--app-bkg-color-2);
    border-radius: 3px;
    background-image: 
        repeating-linear-gradient(
        -45deg,
        var(--app-bkg-color-2),
        var(--app-bkg-color-2) 11px,
        var(--app-color-white) 10px,
        var(--app-color-white) 20px /* determines size */
        );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

    .loader-bar--img {
        width: 75%;
    }
  
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}